@import url("https://use.typekit.net/ojv4ekx.css");
* {
    padding: 0;
    margin: 0;
    font-family: "europa", sans-serif;
    box-sizing: border-box;
    outline: none;
}

body {
    background:linear-gradient(90deg,rgba(2,0,36,1)0%,rgba(75,14,154,1) 35%,rgba(0,212,255,1)100%);
}

form{
    width: 35%;
    background-color:white;
    padding:30px;
    border-radius:20px;
    margin-top:120px;
    margin-left:390px;
}


.submit-btn {
    color: #F5F5F5;
    padding: 10px 45px;
    background-color: rgba(56, 30, 86, 0.7);
    margin-top: 30px;
    margin-top: 20px;
    margin-left:140px;
}

.submit-btn:hover {
    padding: 10px 55px;
    color: var(--text-variant);
    background-color: rgba(56, 30, 86, 0.9);
}
.extra{
    text-align:center;
}
